*{
    margin: 0px;
    padding: 0px;
}

.wrapper{
    text-align: center;
}

.right{
    background-color: green;
    width: 300px;
    height: 300px;
    text-align: center;
    display: inline-block;
    margin-top: 30px
}

.wrong{
    background-color: red;
    width: 300px;
    height: 300px;
    text-align: center;
    display: inline-block;
    margin-top: 30px;
}

.noguess{
    display: none;
}

h4{
    vertical-align: middle;
    color: white;
    margin-top: 100px;  
    font-size: 36px;
}
